<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<body>
  <h1>FINISH MY FRIGHT</h1>
  <a href="/users">Continue</a>
</body>
<%- include('./partials/footer') %>
