<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Fright</title>
    <link rel="stylesheet" href="/stylesheets/newStory.css">
    <link href="https://fonts.cdnfonts.com/css/melted-monster" rel="stylesheet" />
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h2>New Fright</h2>
        <form action="/stories" method="POST">
            <label>Title:
                <input type="String" name="title">
            </label><br>
            <label>Body:
                <input type="String" name="body">
            </label><br>
            <label>Theme:
                <select name="theme">
                    <option value="#Horror">Horror</option>
                    <option value="#Spooky">Spooky</option>
                    <option value="#Comedy">Comedy</option>
                    <option value="#Drama">Drama</option>
                </select>
            </label><br>
            <button type="submit">Add Story</button>
        </form>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>
